<div class="navbar shadow fixed-top container-fluid" id="nav-container" min-width="420px">
        <div id="brand-wrapper">
            <div class="navbar-brand">
                <a routerLinkActive="active"
                routerLink="/">
                    <h1>
                        Tarell Morris 
                    </h1>
                </a>
            </div>
            <div id="subhead">Front-End Web Developer </div> 
        </div>
        <div class="navbar-nav">
            <ul class="navbar nav">
                <li>
                    <a routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                    routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLinkActive="active"
                    routerLink="/projects">Projects</a>
                </li>
                <li>
                    <a routerLinkActive="active"
                    routerLink="/about">About</a>
                </li>
                <li>
                    <a routerLinkActive="active"
                    routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
</div>

  