<div class="container-fluid footer navbar-fixed-bottom" id="footer">
    <div class="row">
        <div class="col-md-12">
            <div class="navbar-nav">
                <ul class="navbar nav">
                    <li>
                        <a routerLinkActive="active"
                        routerLink="/">Home</a>
                    </li>
                    <li>
                        <a routerLinkActive="active"
                        routerLink="/projects">Projects</a>
                    </li>
                    <li>
                        <a routerLinkActive="active"
                        routerLink="/about">About</a>
                    </li>
                    <li>
                        <a routerLinkActive="active"
                        routerLink="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <p>
                &copy; 2020 Tarell Morris
            </p>
        </div>
    </div>
</div>