<div id="spacer"></div>
<div class="container-fluid shadow-lg" id="homepage-banner-container">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div @fadeIn
                class="col-md-12" 
                id="content-container">
                    <h1>
                        Modernized Web Development
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" 
                id="img-container">
                    <div @slideInLeft
                    id="img-wrapper" 
                    class="shadow-lg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div @fadeIn
                class="col-md-12" 
                id="text-container">
                    <p>Front-end code that dynamically reacts to the user</p>
                </div>
            </div>
        </div>
    </div>
</div>
