<div id="spacer"></div>
<div id="full-container">

    <div @fadeIn
    id="banner1" 
    class="container-fluid shadow-lg banner-card">
        <div class="row">
            <div class="col-md-8 text-center">
                <span class="h1">Background</span> 
                <p>
                    My name is Tarell Morris and I have a Bachelor's Degree in English Language with a minor in Computer Science. 
                    The first two years of my undergraduate degree were spent as a Computer Science major,
                     but at the time I simply did not have the commitment or maturity necessary to take on such a complex specialty.
                    In an attempt to make matters easier for myself, I switched to an English major for my last two years of school. 
                    <br>
                    <br>
                    After working in roles centered around marketing and writing for two to three years, 
                    I realized that working with and understanding computers really does give me joy. 
                    So, I decided to redirect my focuses.
                    <br>
                    <br>
                    I first started my re-education with the Python programming language. Immediately, I fell in love with its simplistic and readable syntax. 
                    I continued to learn and tinker with the language for several months, establishing a solid understanding of programming logic and best-practices. 
                    Then, I stumbled upon the fascinating world of Web Development after observing the roles of some coworkers at a previous company. 
                    Their combined ownership of artistic design and computer intelligence seemed like a dream job to me. 
                    <br>
                    <br>
                    From that point on, I have spent countless hours working with HTML, CSS/SASS, Javascript/Typescript, Bootstrap and the Angular framework, 
                    in hopes that I can someday put my technical know-how to good use.
                </p>
            </div>
            <div class="col-md-4">
                <img class="shadow-lg img-fluid poster-img" 
                src="/assets/images/tarell/tarell.JPG"
                alt="Tarell">
            </div>
        </div>
    </div>

    <div class="graphic-container container-fluid shadow-lg"
    id="crossbar-one">
        <div
        class="graphic-breaker row">
            <div class="circle shadow-lg left"></div>
            <div class="circle shadow-lg left"></div>
            <div class="circle shadow-lg left"></div>
            <div class="img-wrapper">
                <img class="img-fluid" 
                src="/assets/images/logos/html5-js-css3.png"
                alt="Trinity">
                <img class="img-fluid" 
                src="/assets/images/logos/vscode.png"
                alt="Trinity">  
            </div>
            <div class="circle shadow-lg right"></div>
            <div class="circle shadow-lg right"></div>
            <div class="circle shadow-lg right"></div>
        </div>
    </div>

    <div @fadeIn
    id="banner2" class="container-fluid shadow-lg banner-card">
        <div class="row">
            <div class="col-md-4">
                <img class="shadow-lg img-fluid poster-img"
                src="/assets/images/logos/angular-img.png" 
                alt="Angular">
            </div>
            <div class="col-md-8">
                <div class="h1">Keeping Development Strategies Modern</div>
                <p>
                    I have committed a lot of time to understanding the necessary building blocks of Web Development, 
                    and accrued a comfortable knowledge of HTML, CSS, and Javascript. 
                    After building this strong foundation for myself, 
                    I then began integrating the use of preprocessors and frameworks like SASS, Bootstrap, 
                    and Angular into my catalog of technologies. 
                    This makes building complex websites and apps so much simpler and far less tedious.
                    <br>
                    <br>
                    This portfolio site was built entirely within the Angular framework 
                    and it has been a pleasure to use, so far.
                    Staying up-to-date with the latest technical developments in this industry is tough, 
                    but very rewarding. 
                    Working with pre-made Bootstrap classes as well as constructing and managing 
                    smaller components within Angular 
                    made for a smooth and more intuitive development experience overall.
                    <br>
                    <br>
                    I would never claim to know all there is to know, 
                    but I am comfortable with the idea that I will spend the rest of my life learning. 
                    And, honestly, that is an exciting prospect.
                </p>
            </div>
        </div>
    </div>

    <div class="graphic-container container-fluid shadow-lg">
        <div
        class="graphic-breaker row">
            <div class="circle shadow-lg left"></div>
            <div class="circle shadow-lg left"></div>
            <div class="circle shadow-lg left"></div>
            <div class="img-wrapper">
                <img class="img-fluid" 
                src="/assets/images/logos/bootstrap.png"
                alt="Bootstrap">
                <img class="img-fluid" 
                src="/assets/images/logos/sass.png"
                alt="Sass">
            </div>
            <div class="circle shadow-lg right"></div>
            <div class="circle shadow-lg right"></div>
            <div class="circle shadow-lg right"></div>
        </div>
    </div>

    <div @fadeIn
    id="banner3" class="container-fluid shadow-lg banner-card">
        <div class="row">
            <div class="col-md-8 text-center">
                <span class="h1">Python and Backend Scripting</span> 
                <p>
                    Python has proved to be a great language to work with. 
                    In just a month, I was able to create a script that crawled through a supplied directory, parsing all files that fit specified criterion, 
                    scraped a web page linked within these files, and then exported all requested data into an Excel spreadsheet.
                    <br>
                    <br>
                    This project was inspired by a slow and tedious workflow that 
                    I was a part of at a prior organization. 
                    I suspected that this particular data-collection task I had been doing manually for months could easily be automated, 
                    saving time and energy.
                    So I decided to figure it out myself, and it worked amazingly. 
                    This was one of my earliest and most gratifying projects. 
                    I would love to learn and work more with Python in the future.
                    <br>
                    <br>
                    I am currently considering using either Python's Flask or Django web frameworks for server-side scripting.
                </p>
            </div>
            <div class="col-md-4">
                <img class="shadow-lg img-fluid poster-img" 
                src="/assets/images/logos/python.jpg"
                alt="Python">
            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>